
# create .env file:
DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_NAME=HealthDiary

CREATE USER 'user'@'localhost' IDENTIFIED BY 'password';
GRANT ALL PRIVILEGES ON 'Healthdiary'.* TO 'user'@'localhost';
FLUSH PREVILEGES;